@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
  font-family: "Roboto", sans-serif;
}

.card {
  background: #f9f9f9;
  border-radius: 10%;
  box-shadow: 0 4px 8px #0003;
  display: inline-block;
  height: 160px;
  margin: 10px;
  overflow: auto;
  padding: 10px;
  width: 220px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}